.button-section {
  display: flex;
  margin: 20px auto;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.button-section > * {
  margin: 0 10px;
}

@media screen and (min-width: 992px) {
  .button-section {
    align-items: center;
  }
}
