.settings-menu {
  background-color: var(--color-black);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.settings-menu__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings-menu__cross {
  position: absolute;
  top: 20px;
  right: 50px;
}

.settings-menu__cross:hover {
  cursor: pointer;
}

.settings-menu__title {
  color: var(--color-white);
  font-size: 30px;
}

.settings-menu__form {
  display: grid;
  font-size: 20px;
  color: var(--color-white);
  justify-items: center;
}

.settings-menu__input {
  margin: 10px 0;
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
  border: 5px solid var(--color-grey);
  color: var(--color-black);
}

.settings-menu__input:focus {
  outline: none;
  border: 5px solid var(--color-primary);
}

@media screen and (min-width: 992px) {
  .settings-menu {
    background-color: rgba(var(--color-black), 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .settings-menu__content {
    position: relative;
    background-color: var(--color-black);
    width: 30%;
    height: 80%;
    border-radius: 15px;
  }

  .settings-menu__cross {
    right: 20px;
  }
}
