.home {
  color: var(--color-black);
}

.home > * {
  padding: 0 50px;
}


@media screen and (min-width: 992px) {
  .home {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 25px 100px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content;
  }

  .home > * {
    padding: 0;
  }
}
