.gallery {
  padding: 0;
}

.gallery__heading {
  padding: 0 50px;
}

@media screen and (min-width: 992px) {
  .gallery {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
  }

  .gallery__heading {
    padding: 0;
  }
}
