.nav-menu {
  background-color: var(--color-secondary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.nav-menu__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-menu__cross {
  position: absolute;
  top: 20px;
  right: 50px;
}

.nav-menu__cross:hover {
  cursor: pointer;
}

.nav-menu__item {
  font-size: 30px;
  text-decoration: none;
  color: var(--color-black);
  padding: 20px;
}

@media screen and (min-width: 992px) {
  .nav-menu {
    background-color: rgba(var(--color-black), 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-menu__content {
    position: relative;
    background-color: var(--color-secondary);
    width: 30%;
    height: 30vw;
    border-radius: 15px;
  }

  .nav-menu__cross {
    right: 20px;
  }
}
