.discography .all-albums {
  background-color: var(--color-primary);
  padding: 10px 50px 20px 50px;
}

.discography > * {
  padding: 0px 50px;
}

@media screen and (min-width: 992px) {
  .discography {
    grid-row: 3/4;
    grid-column: 1/ -1;
    border-radius: 15px;
    display: grid;
    gap: 25px 100px;
    grid-template-columns: repeat(2, 1fr);
  }

  .discography .all-albums {
    border-radius: 15px;
    height: fit-content;
  }

  .discography__heading {
    grid-column: 1 / -1;
    padding: 0;
  }
}
