.album-tiles {
  width: 100%;
  flex: 1;
  display: flex;
  overflow-x: auto;
}

.album-tiles__img {
  display: block;
  width: 200px;
  margin: 10px 20px;
  margin-left: 0;
  flex: auto;
  flex-shrink: 0;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(var(--color-black), 0.25);
}

@media screen and (min-width: 992px) {
  .album-tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 20px;
  }

  .album-tiles__img {
    margin: 0;
    width: 100%;
  }
}
