.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  color: var(--color-black);
}

.nav__item {
  height: 30px;
}

@media screen and (min-width: 992px) {
  .nav {
    grid-column: 1 / -1;
  }
}
